.navbar .nav>li>a {
    border-right: none;
}

.navbar-static-top {
    margin-bottom: 20px;
}
.navbar-inner {
    max-height: 40px;
}


.navbar .brand, .navbar .brand:hover {
    background-position: 0px 8px;
    color: white;
}
.navbar .brand, .navbar .brand h1 {
    color: white;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    height: auto;
}

.navbar .brand h1 {
    font-family: 'Telex', sans-serif;
    padding: 16px 10px 14px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    font-weight: normal;
    margin-left: 35px;
    margin-right: 50px;
}

.navbar .brand {
    font-family: inherit;
}

.special-nav-item a span {
    border: 2px solid transparent;
    color: white !important;
}
.special-nav-item.active a span,
.special-nav-item a:hover span {
    background-color: rgb(0,255,0);
    border: 2px solid white !important;
    color: black !important;
}

.navbar .nav>li.special-nav-item.active>a,
.navbar .nav>li.special-nav-item>a:hover {
    background: transparent;
}

.navbar .nav > li > a:hover {
    color: white;
}

.navbar .nav>li.dropdown>a {
    padding: 0;
}

#main-folders {
    background-image: url('../img/folders_at.jpg');
}
